html {
    font-size: 20px;
}


body {
    background-color: #559092;
    color: rgb(0, 0, 0);
    text-align: center;
}

/* .container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; 
    height: 100vh; 
    width: 100%; 
    max-width: 900px;
    /* border: 1px solid mediumblue; 
    margin: auto;
} */

h1 {
    font-family: 'Volkhov', serif;
}


.firstP {
    max-width: 60%; 
}

.inputLabelWrapper {
    text-align: left;
}


.label {
    font-weight: bold;
    margin-right: 200px;
}
.sectionOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 50px;
}


.readOnlyParagraph {
    background-color: white;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    font-size: 100%;
    line-height: 1.5rem;
    width: 50vw;
    text-align: center;
    word-break: break-all;
    margin-top: 0;



}


/* Style for the "Generate Password" button */
#generatePasswordButton {
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

/* Style for the container that holds both the button and dropdown */
.container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

  
/* Style for the dropdown */
#dropdown {
    margin-top: 50px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px;
    font-size: 14px;
}
/* Position the slider and numbers vertically aligned */
.slidecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px; 
    margin-left: 220px;
  }
  
  .slider {
    width: 40%; 
   text-align: center;
  }
  
  .ranges {
    margin-left: 400px; 
    font-weight: bold; 
  }

  

  